#photo{
    height: unset;
    width: unset;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  .profile .userIMG {
border-radius: unset;
overflow: unset;
position: absolute;
bottom: -60px;
left: 2rem;
}
.profile .userIMG img{
 border: 2px solid white;
  }
.backIMG
{
  position: relative;

  background: url("../images/userprofileback.jpg") center center / cover;
  min-height: 30vh;
}

/* .usercontainers{
    display: flex;
gap: 1rem;
flex-wrap: wrap;
} */
.user-inf{
  border-bottom: unset;
}
.profile .userName {
  
  padding-left: 10rem;
  padding-top: .3rem;
}


.userGearscontainer a {
    color: var(--color-3);
    text-align: center;
  }
  .cart-top {
    margin-bottom: 0;
  }

 .user-inf .wrapper {
    padding: 0px 1rem;
  }