*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e8e5e5;
}
img{
    max-width: 100%;
    height:auto;

  

}

.input-field.fa-search {
    border-radius: 15px;
    border-color: gray;
  }
  
 
  .input-container {
    position: relative;
  }
  
  .fa.fa-search {
    position: absolute;
    right: 5px;
    bottom: 10px;
    font-size: 22px;
    color: gray;
 
    padding-right: 5px;
  }
  .map {
    position:relative;
    padding:2rem;
  }
  .fa-circle-xmark{
    position:absolute;
    top:80px;
    right:70px;

    
    color:rgb(8, 8, 8);
    font-size:18px;
  }
  
.input-container {
    display: flex;
    flex-direction: row-reverse;
}
.input-container i{
 
align-items: center;
    display: flex;
}
input{
    padding:10px 16px;

}
nav ul li  a{
text-decoration: none;
color:black;

}
.suitone{
    background-color: #559430;
    border-color:#559430
}
.suit{
    color:white;
}
nav ul li {
    border:1px solid rgb(235, 228, 228);
    list-style-type: none;
    border-radius: 10px;
    padding: .3rem .6rem ;
    background-color: #e6f4dc;
    border-color: #e6f4dc;
}

.menu nav ul{
    display: flex ;
    gap:.5rem;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

}
.onepara{
    color:#559430
}
nav ul li:first-child{
    background-color: #559430;
    border-color: #559430;
    color:white;
}
nav ul li:first-child a:first-child{
    color:white;
}
.wrapper-main{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

















/* ======================================pic and data======================= */
img{
    max-width:100%;
    height:auto;
}

.icons{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: #ced7ce;
}

.icons img{


    grid-column: 1/11;
    grid-row: 1/-1;
    


}
.icons ul {
    grid-column: 9/11;
    grid-row: -2;
    color:rgb(250, 247, 247);
    display:flex;
    align-items: flex-end;
}
ul li {

    list-style-type: none;
}
.icons .meta-data{

    color:white;
    grid-column:10/11 ;
    grid-row: 1;
    padding:20px;


}
.meta-data .fa-heart-circle-plus{
    margin-bottom:10px;
}
.content{
    padding:2rem;
}
.info{
  
    background-color: #f1ecec;
    padding:10px;
    font-size:20px;

}



@media screen and (min-width:768px) {
   
}
