
body{
  /* background-image: url('/bg-img.jpg'); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
    margin: 0;
  padding: 0;

}
#form{
  margin: 40px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(168, 164, 164, 0.5);
  border-radius: 15px;
}
#form label{
  color:var(--color-2);
  margin-left:7px;
  font-size: 1.2rem;
margin-top: 4px;
}

#enter-experience{
 gap: 10px;
}
hr{
  border: 1px solid white;
  width: 100%;
}
.page-heading{
  text-align: center;
  width: 100%;
}
h2{
  margin-top: 0;
  /* padding: 10px; */
  /* font-size: 24px; */
  /* font-weight: bold; */
  /* line-height: 30px; */
 padding: 15px;
  color: var(--color-2);
}
#myFile {
  font-size: 1rem;
  color: var(--color-2);
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 4px;
  padding: .5rem;
}
.numberData{
  /* div for wrapping all inputs to arrange them in one line */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 gap: 5px;
}
.numberDataInput{
  /* divs for input inside numberData Class */
  width: 100% ;
  justify-content: center;

}
#d_level{
  padding: 4px;
  margin: 5px 0px;
}

#enter-experience{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* color: #ffffff; */
  width: 60vw;
}

.checklistwrapper{
  display: flex;
  flex-flow: row nowrap;
}

.input{
    padding: 5px;
    margin: 5px 0px;
    width: 100%;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 1rem;
}
/* input:focus {
    border: 3px solid #555;
  } */

#textarea {
    width: 60%;
    height: 0px;
    padding: 12px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    /* background-color: #f8f8f8; */
    resize: none;
}
.btn-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#check_list_table>*{
  padding: 0;
  margin: 0;
}


input[type="submit"]{
  padding: .5rem;
  
}

/* ********************************* */
/* ******* Check-list Table ******** */
/* ********************************* */
#checklist_table{
  border: 2px solid grey;
  border-radius: 14px;
  width: 100%;
}



/* ********************************* */
/* ********* Google Maps *********** */
/* ********************************* */
#map {
  height: 300px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  margin-bottom: 10px;
}

/* ********************************* */
/* ********** View Ports *********** */
/* ********************************* */
@media screen and (min-width: 390px) {
  #form{
    width: 90vw;
    margin: 3vh auto;
    margin-bottom: 20vh;                /* whole page doesn't show at a time */
  }
  #enter-experience{
    width: 90vw;

  }
}
@media screen and (min-width: 800px) {
  #form{
    width: 600px;
    margin-top: 6rem;
  }
  #enter-experience{
    width: 600px;
  }
}
