
/* :root {
    --primary-color:#15A015;
    --secondary-color:#68502B;
    --bold-main-color:#FF6700;
  } */
*{
  margin: 0;
  padding: 0;
}
body{
  /* background-image: url('/bg-img.jpg'); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}
#form{
  padding:0 2px;
  margin: 40px auto;
  border-radius: 15px;
  width: 80%;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  background-color: rgba(168, 164, 164, 0.5);
}
input#title {
  padding: 7px;
}
#form label{
  color:var(--color-2);
  margin-left:7px;
  font-size: 1.2rem;
margin-top: 4px;
}
.page-heading{
 
  border-bottom: 2px solid rgb(239, 235, 235);
  color: #ffffff;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}
/* input#startbutton {
  font-size: 21px;
  padding:8px;
  margin-left:8px;
} */
h2{
  margin-top: 0;
  padding: 15px;
  color:var(--color-2);
}
#enter-experience{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  width: 60vw;
}
/* input#startbutton {
  border: 2px;
  border-radius: 14px;
  background-color: #F06100;
  color: white;
  display: block;
  margin: 10px auto;
} */

.input{
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(226, 224, 224);
    border-radius: 3px;
    font-size: 1rem;
}
/* input#startbutton{
 font-size: 15px;
 padding:16px;
 border-color:unset;
} */

/* input:focus {
    border: 3px solid #555;
  } */

#textarea {
    width: 60%;
    height: 0px;
    padding: 12px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.camera-controls {
  display: flex;
  gap: 1rem;
justify-content: center;
  align-items: baseline;
  padding: 0.5rem;
font-size: 1.8rem;
color: var(--color-3);
}
.camera {
  /* margin-left: 20px; */
  margin-top: 20px;
}
canvas,
.camera video{
  width: 100%;
  height: auto;
}

canvas{
    opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}

@-webkit-keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1; }
 }
 @keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1; }
 }

 .flash {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
 }


#add_item_check_list{
  padding: 0.5rem;
  margin: 1rem;
  width: 100px;
}
input[type="submit"]{
  padding: .5rem;
  /* margin: 1rem; */
}

/* ********************************* */
/* ******* Check-list Table ******** */
/* ********************************* */
#checklist_table{
  border: 2px solid grey;
  border-radius: 14px;
  width: 100%;
  padding: 5px;
}



/* ********************************* */
/* ********* Google Maps *********** */
/* ********************************* */
#map {
  height: 300px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  margin-bottom: 10px;
}

/* ********************************* */
/* ********** View Ports *********** */
/* ********************************* */
@media screen and (min-width: 390px) {
  #form{
    width: 90vw;
    margin: 3vh auto;
    margin-bottom: 20vh;                /* whole page doesn't show at a time */
    margin-top: 6rem;
  }
  #enter-experience{
    width: 90vw;

  }
}
@media screen and (min-width: 800px) {
  #form{
    width: 600px;
    margin-top: 6rem;
  }
  #enter-experience{
    width: 600px;
  }
}
/* @media screen and (min-width: 1200px) {
  #form{
    width: 50vw;
  }
  #enter-experience{
    width: 37vw;
  }
} */