/* reza css */

/* ====================================== */
/* account */

.user-account input[type="submit"] {
  width: 100px;
  display: block;
  align-items: flex-end;
  text-align: center;
  margin: 1rem 0;
  font-size: 1.3rem;
  background-color: var(--color-1);
  padding: 10px;
  color: white;
}
.user-account form {
  display: block;
  margin: auto;
}

.capture i{
    font-size: 1.8rem;
}
.user-account label,
input[type="text"] {
  /* margin-left: 20px; */
}
.user-account h4 {
  display: block;
  margin: 2rem auto 0;
  font-size: 2rem;
  color: green;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
input#startbutton {
  /* margin-left: 20px; */
}
textarea#review {
  /* margin-left: 20px; */
}
input#startbutton {
  padding: 5px;
}
textarea#review {
    margin-top: .5rem;
  width: 100%
}

.cancel {
  margin-top: 10px;
  /* margin-left: 20px; */
  font-size: 1.9rem;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

#cancel{
    display: flex;
    justify-content: center;
}
div#capturebutton {
  margin-top: 10px;
  /* margin-left: 20px; */
  font-size: 1.9rem;
  border: 1px solid black;
  max-width: fit-content;
  border-radius: 50%;
  padding: 5px;
}
.fa-redo-alt:before,
.fa-rotate-forward:before,
.fa-rotate-right:before {
  content: "\f2f9";
  margin-top: 10px;
  /* margin-left: 20px; */
  font-size: 1.9rem;
  border: 1px solid black;
  max-width: fit-content;
  border-radius: 50%;
  padding: 5px;
}
.fa-check-circle:before,
.fa-circle-check:before {
  content: "\f058";
  margin-top: 10px;
  /* margin-left: 20px; */
  font-size: 2rem;
  border: 1px solid black;
  max-width: fit-content;
  border-radius: 50%;
  padding: 5px;
}
.camera-wrapper{
    max-width: 500px;
    margin: auto;
}

.final-step{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.camera-controls {
  display: flex;
  gap: 1rem;
justify-content: space-around;
  align-items: baseline;
}
.camera {
  /* margin-left: 20px; */
  margin-top: 20px;
}
label {
  font-size: 1.5rem;
}
input {
  font-size: 1.5rem;
  /* padding: 10px; */
}

.page {
  padding: 0 4%;

}

#card {
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

.name{
    display: grid;
    grid-template-columns: 1fr;
}

textarea{
    width: 100%;
}

.widget-head{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

/* FOOTER ONLY */

footer .wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  footer .branding {
    display: block;
  }
  footer {
    background-color: #9d917b;
    padding: 2rem 0px;
  }
  footer a {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
  }
  .footer-main-nav {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
  }
  
  .footer-main-nav ul{
    margin: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8rem;
    font-weight: bold;
  }
  
  .footer-social ul li a{
    font-size: 2rem ;
  }
  
  .footer-social ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }

  .copyright{
    font-size: 1.3rem;
    color: white;
  }

  @media only screen and (min-width:  800px) {

    

    footer .wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      
      footer .wrapper span{
        grid-column: 1/-1;
      }
      
      footer nav.footer-main-nav ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      
      footer .wrapper .footer-social{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
  }

  @media only screen and (min-width:  1200px) {
    .page {
        max-width: 1200px;
        margin: auto;
      }
  }